@use 'mixins' as *;

.header__container {
  padding: 16px 50px;
  @include max-container(1321px);
  @include flex-start;
  min-height: 70px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 27px 20px;
  }
}
