@font-face {
  src: url('./otf/SourceSansPro-Light.otf') format('opentype');
  font-family: 'SourceSansPro';
  font-weight: 300;
}

@font-face {
  src: url('./otf/SourceSansPro-Regular.otf') format('opentype');
  font-family: 'SourceSansPro';
  font-weight: 400;
}
