@use 'mixins' as *;

.header__nav {
  @include flex-center;
  gap: 20px;
}

@media screen and (max-width: 1120px) {
  .header__nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    gap: 16px;
  }
}
